*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0 ;
}
header h1{
  margin: 20px;
  font-size: 2.5rem;
}

header button{
  padding: 20px;
  background-color: rgb(240, 70, 19);
  color: white;
  outline: none;
  border-radius: 10px;
  border: 0px;
  font-size: 1.5rem;
  transition: 0.2s;
}

header button:hover{
  transform: scale(1.1);
}


.meal-wrapper{
  width: 100vw;
  padding: 50px;
}

article{
  display: flex;
  justify-content: space-evenly;
}

article img{
  width: 40%;
  margin: 20px;
}

article .text{
  margin: 20px;
}

.info{
  margin: 10px;
}